
  <body class="d-flex h-100 text-center text-white bg-dark">

  <main class="cover-container d-flex w-40 h-50 p-3 mx-auto flex-column">
    <h1>About</h1>
    <p class="lead">ながのCAKEは全国発送可能なケーキ屋さんです。</br>
  お子様からお年寄りの方までお召し上がりいただけるよう、</br>
  様々なバリエーションをご用意しております。</br>
  また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
  ぜひご注文ください。</p>
<footer class="mt-auto text-white-50">
    <!--<p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>-->
  </footer>
  </main>


</div>



  </body>
</html>