<body class="d-flex h-100 text-left text-black bg-light">
  <main class="px-3">
  <h4 class="mark mb-5">ジャンル編集</h4>

<div class="field">
  <%= form_with model: @genre, url: admin_genre_path, method: :patch, remote: true do |f| %>


    <%= f.label :name, "ジャンル名" %>
    <%= f.text_field :name, autocomplete: "name" %>
  </div>

<div class="actions2">
    <%= f.submit "変更を保存",class:"btn btn-outline-success mt-5" %>
</div>
  <% end %>

  </main>

  <footer class="mt-auto text-white-50">
    <p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>
  </footer>
</div>



  </body>
</html>



