@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.toptext{
  text-align:center;
  color:green;
  background-color:green;
}

.main-visual {
  text-align:center;
  display:table;
  width:70%;
  height:200px;
  background-size: 100% 100%;
  // background-size: auto;
  background-image: url("../images/okashi2.png");
}

p{
 display:table-cell;
 vertical-align:middle;
}

.col2{
  text-align:center;
}