<body class="d-flex h-100 text-center text-white bg-dark">
  <main class="cover-container d-flex w-40 h-50 p-3 mx-auto flex-column">
    <h2>ご注文ありがとうございました。</h2>

<footer class="mt-auto text-white-50">
    <!--<p>Cover template for <a href="https://getbootstrap.com/" class="text-white">Bootstrap</a>, by <a href="https://twitter.com/mdo" class="text-white">@mdo</a>.</p>-->
  </footer>
  </main>


</div>



  </body>
</html>